$def with (page)
<html lang="es">
   <head>
       <meta charset="UTF-8">
       <link rel="shortcut icon" type="image/png" href="../static/images/iconP.png">
       <title>Renta de Peliculas</title>
       <link rel="stylesheet" type="text/css" href="../static/css/default.css">
       <link rel="stylesheet" type="text/css" href="../static/css/normalize.css">
   </head>
   <body>
       <header>
            <div class="logo">
                <a href="/" ><img src="../static/images/icon.png"></a>
            </div>
	    </header> 
        $:page
   </body>
</html>